<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</div>